/* Header  and Footer  */
.blue {
height: 100px;
background-color: rgba(0, 166, 183, 0.55);
}

/* Name in Header*/
#name{
  list-style: none;
}

/* Link back to Index Page*/
#index{
  font-family:'Playfair Display', monospace;
  color:#842e2e;
  text-decoration: none;
  font-size: 3.5em;
  padding-left: 0.2%;
}


li,a {
  text-decoration: none;
  font-size: 16px;
  padding-left: 5px;

}


h1{

  text-align: center;
  color:#842e2e;
  font-family: 'Playfair Display',monospace;
}

h2{
    padding-left: 5px;
    font-size: 2.5em;
    color:#9e9e9e;
    font-family: 'Playfair Display',serif;
}

h3{
  text-align: center;
  color:#9e9e9e;
  font-family:'Playfair Display',serif;
}

p{
  padding-left: 5px;
  font-size: 18px;
  font-family: 'Cinzel',sans-serif;;

}

/* Navigation in Footer Bar */
#blog-nav{
   display: -webkit-flex;
   list-style: none;
}

/* Navigation on the Main Index Page */
.nav{
   display: -webkit-flex;
   list-style: none;
   margin-top: 4%;

}

/* nav links in the footer bar */
.button1 {
  font-size: 25px;
  color:#842e2e;
  margin-right: 0.5em;
}

/* nav links on the main index page */
.button2 {
  margin-right: 5%;
  font-size: 25px;
  color:#842e2e;

}

/*Pictures */
#reflection{
  margin-left: 2%;
  margin-right: 1.5%;
  height:13%;
  width: 20%;
}

#time{
  margin-right: 15px;
  height: 50%;
  width: 25%;
}

#boxify{
  height:  18%;
  width:  18%;


}

#model{
  display: -webkit-flex;
  margin-left: 1.5%;
  margin-bottom: 5%;
}

#responsive{
  height:25%;
  width:  24%;
}

#intelligence{
  margin-right: 15px;
  padding-left: 25px;
  height:25%;
  width:  23%;
}

/*box model picture margin*/
#margin{
  margin-left: 2%;
}
