.heading {
  font-family: 'Playfair Display'; monospace;
  display: inline-flex;
  width: 100%;
  height: 7em;
}

.page-title {
  font-weight: bold;
  color:  #FD0E35;
  padding: 5px 10px;
  margin-right: 2.5em;
  font-size: 3.2em;
  float: left;
  position: static;
}
.page-description {
  color:  #FFAA1D;
  padding: 5px 15px;
  margin-left: .5em;
  font-size: 2.1em;
  float: right;
  position: static;
}



.banner {
width: 100%;
height: 4.7em;
background: linear-gradient(to bottom right, #000066 0%, #339966 100%);

}


.container1 {
  box-sizing: border-box;
  text-decoration: none;
  display: -webkit-inline-flex;
  font-family: Arial;

}

.container1 a {

    color: white;
    text-align: center;
    text-decoration: none;

}
.btn1 {
  font-size: 18px;
  padding: 21px 20px;
  font-weight: 600;
  color: red;
  height: 1.6em;
}

.btn1:hover{
    background-color: #3ab7ab;
}
/* Dropdown Button */
.dropbtn {
  font-family: Arial;
    background-color: transparent;
    color: white;
    height: 4.5em;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
 .dropdown-content a:hover
{background-color: #3ab7ab;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3ab7ab;
}

.my-name {
  font-family: "Vidaloka",monospace;
  margin-left: 10px;
  color:  #d02d64;
  padding: 20px 5px;
  float: right;
}

/*background color blogs */
.container-background{
background-color: #b1cbbb;
padding: 4em;
}

.main-content {
  background-color: white;
  position: relative;
    margin: auto;
  padding: 20px;
  border:3px solid gray;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

}




/* Slideshow and background color for Index*/
.container-main-background{
background-color: #b1cbbb;
padding-bottom: 4em;
}

#featured {
  font-family: "Vidaloka",monospace;
  padding: 5px;
  text-align: left;
  color: #FD0E35;

}


.carousel{
  background:#daebe8;
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 20px;
  border:3px solid gray;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

}

.slides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.4s ease;
  border-radius:10%;
}

/* Position the "next button" to the right */
.next {
  right: 20px;
  border-radius: 10%;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: #fff;

}



.text {
  color: #3c4e19;
  font-weight: 300;
  font-size: 18px;
  margin-left: -20px;
  margin-bottom: 27em;
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
}

/* Image sizes for slidshow */
.imagesize img{
width: 100%;
height: 30em;
}

/* The dots */
.dot {
 cursor:pointer;
 height: 13px;
 width: 13px;
 margin: 10px 2px;
 background-color: #bbb;
 border-radius: 50%;
 border: 1px solid #ccc;
 display: inline-block;
 transition: background-color 0.4s ease;
}

.active, .dot:hover {
  background-color: #717171;

}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

/* On smaller screens, */
@media only screen and (max-width: 549px) {
  .prev, .next,.text {font-size: 11px}
  .imagesize img{
  width: 100%;
  height: 20em;
  }
}





li,a {
  text-decoration: none;
  font-size: 16px;
  padding-left: 5px;

}

.blog-heading{

  text-align: center;
  color:#FD0E35;
  font-family: 'Playfair Display',monospace;
  margin:  40px;
}



h2{
    padding-left: 10px;
    font-size: 2.5em;
    color:#b1cbbb;
    font-family: 'Playfair Display',serif;
}

h3{
  text-align: center;
  color:#b1cbbb;
  font-family:'Playfair Display',serif;
}

p{
  padding-left:  20px;
  padding-right:  20px;
  font-size:  18px;
  font-family:  'Vidaloka',sans-serif;;

}

small{
  float: right;
  margin: 25px;
  font-size: 18px;
}


@media only screen and (min-width: 550px) and (max-width: 1079px){
  .page-title {
    color: red;
    padding: 5px 5px;
    margin-right: 0em;
    font-size: 2.6em;
    float: left;

  }
  .page-description {
    color:  orange;
    padding: 5px 5px;
    margin-left: 0em;
    font-size: 1.7em;
    float: right;

  }
}
