.heading {
  display: inline-flex;
  width: 100%;
  height: 7em;
}

.page-title {
  color: red;
  padding: 5px 10px;
  margin-right: .5em;
  font-size: 3.2em;
  float: left;
  position: static;
}
.page-description {
  color:  orange;
  padding: 5px 15px;
  margin-left: 0.5em;
  font-size: 2.1em;
  float: right;
  position: static;
}
.my-name {
  color:  orange;
  padding: 5px 5px;
}

.banner {
height: 6em;
background-color: rgba(0, 166, 183, 0.55);

}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

/* Dropdownmenu  */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;;
    display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/*for the home and about links not really butons */
.btn1 {
  background-color:  hsla(0, 0%, 100%, 0);;
  color: white;
  padding: 12px 16px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  display: -webkit-inline-flex;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* for JS function for dropmenu */
.show {
  display:block;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
/*might get rid of as it similiar to what I want the btn1 to be*/
.container1 {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
/*hover for container1 */
.container1 a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/* Slideshow*/
.carousel{
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding:20px;
  border:3px solid gray;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

}
/*
.slides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.4s ease;
  border-radius:50%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50%;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: #fff;

}


.text {
  color: #138c77;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
}

/* Image sizes for slidshow */
.imagesize img{
width: 100%;
height: 33em;
}

/* The dots */
.dot {
 cursor:pointer;
 height: 13px;
 width: 13px;
 margin: 0 2px;
 background-color: #bbb;
 border-radius: 50%;
 border: 1px solid #ccc;
 display: inline-block;
 transition: background-color 0.4s ease;
}

.active, .dot:hover {
  background-color: #717171;
  border-color: #f44336;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

/* On smaller screens, */
@media only screen and (max-width: 549px) {
  .prev, .next,.text {font-size: 11px}
  .imagesize img{
  width: 100%;
  height: 20em;
  }
}



@media only screen and (min-width: 771px) and (max-width: 1079px){
  .page-title {
    color: red;
    padding: 5px 5px;
    margin-right: 0em;
    font-size: 2.6em;
    float: left;

  }
  .page-description {
    color:  orange;
    padding: 5px 5px;
    margin-left: 0em;
    font-size: 1.7em;
    float: right;

  }
}
